
.size {
    font-family: 'Quantico', sans-serif;
    font-size: 1.25rem;
}

.a {
    font-family: 'Quantico', sans-serif;
    font-size: 1.25vw;
}
.ed{
    color: #2b463c;
    font-size: 2vw;
    text-align: center;
}

.bgc {
    background-color: #2b463c;
}

.font {
    font-family: 'Press Start 2P', cursive;
    font-size: 4.5vw;
}

.green {
    color: #2b463c;
}

.fontN {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5vw;
}

.fontN1 {
    font-family: 'Quantico', sans-serif;
    font-size: 2.5vw;
}

.c {
    font-family: 'Dosis', sans-serif;
    color: #2b463c;
}

.bg {
    background-color: #b0d182;
}

.personal_text {
    font-family: 'Playfair Display', serif;
}

.left {
    font-family: 'Quantico', sans-serif;
    font-size: 3vw;
    text-align: left;
    margin-bottom: 3rem;
}

.abm {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
}

.home_banner_area {
    position: relative;
    z-index: 1;
    background-image: -moz-linear-gradient(0deg, #2b463c 0%, #f4f1e9 100%);
    background-image: -webkit-linear-gradient(0deg, #2b463c 0%, #f4f1e9 100%);
    background-image: -ms-linear-gradient(0deg, #2b463c 0%, #f4f1e9 100%);
    margin-bottom: 200px;
}

.home_banner_area .box_1620 {
    min-height: 700px;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.home_banner_area .box_162 {
    min-height: 300px;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.home_banner_area .banner_inner {
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
}

.home_banner_area .banner_inner .banner_content {
    color: #222222;
    vertical-align: middle;
    align-self: center;
    text-align: left;
}

.home_banner_area .banner_inner .banner_content .media .d-flex {
    padding-right: 125px;
}

.home_banner_area .banner_inner .banner_content .media .media-body {
    vertical-align: middle;
    align-self: center;
}

.isotope_fillter {
    margin-bottom: 50px;
}

.isotope_fillter .gallery_filter {
    text-align: center;
}

.isotope_fillter .gallery_filter li {
    display: inline-block;
    margin-right: 45px;
}

.isotope_fillter .gallery_filter li:last-child {
    margin-right: 0px;
}

.isotope_fillter .gallery_filter li a {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #222222;
    transition: all 300ms linear 0s;
    text-transform: uppercase;
}

.isotope_fillter .gallery_filter li:hover a, .isotope_fillter .gallery_filter li.active a {
    color: #766dff;
}

.gallery_f_inner {
    margin-bottom: -45px;
}

.h_gallery_item {
    display: inline-block;
    margin-bottom: 45px;
}

.h_gallery_item .g_img_item {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
}

.h_gallery_item .g_img_item:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: -moz-linear-gradient(0deg, #b0d182 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(0deg, #b0d182 0%, #ffffff  100%);
    background-image: -ms-linear-gradient(0deg, #b0d182 0%, #ffffff  100%);
    position: absolute;
    opacity: 0;
    transition: all 300ms ease;
}

.h_gallery_item .g_img_item .light {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    opacity: 0;
}

.h_gallery_item .g_item_text {
    text-align: center;
}

.h_gallery_item .g_item_text h4 {
    color: #222222;
    font-size: 21px;
    margin-top: 22px;
    transition: all 300ms linear 0s;
}

.h_gallery_item .g_item_text p {
    margin-bottom: 0px;
}

.h_gallery_item:hover .g_img_item:before {
    opacity: .85;
}

.h_gallery_item:hover .g_img_item .light {
    opacity: 1;
}

.h_gallery_item:hover .g_item_text h4:hover {
    color: #4dac5a;
}

.more_btn {
    text-align: center;
    margin-top: 80px;
}

.main_title {
    text-align: center;
    max-width: 670px;
    margin: 0px auto 75px;
}

.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #000000;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main_title p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #464646;
    margin-bottom: 0px;
}

/* My Tabs Area css
============================================================================================ */
.mytabs_area {
    background-image: -moz-linear-gradient(0deg, #2b463c 0%, #f4f1e9 100%);
    background-image: -webkit-linear-gradient(0deg, #2b463c 0%, #f4f1e9 100%);
    background-image: -ms-linear-gradient(0deg, #2b463c 0%, #f4f1e9 100%);}
  
  .tabs_inner .nav.nav-tabs {
    display: block;
    text-align: center;
    border: none;
    margin-bottom: 120px; }
    .tabs_inner .nav.nav-tabs li {
      display: inline-block;
      margin-right: 8px; }
      .tabs_inner .nav.nav-tabs li a {
        margin: 0px;
        line-height: 50px;
        border-radius: 5px;
        padding: 0px 40px;
        font-size: 13px;
        font-weight: 500;
        color: rgb(15, 15, 15);
        font-family: "Roboto", sans-serif;
        border: 1px solid #060708;
        background: rgba(255, 255, 255, 0.1); }
        .tabs_inner .nav.nav-tabs li a.active {
          background: rgb(14, 14, 14);
          color: #222222; }
  .tabs_inner .tab-content .tab-pane .list {
    max-width: 460px;
    margin: auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px; }

    .tabs_inner .tab-content .tab-pane .list:before {
      content: "";
      height: 100%;
      width: 5px;
      background: rgba(10, 10, 10, 0.2);
      position: absolute;
      left: 46%;
      transform: translateX(-20%);
      top: -5px; }

    .tabs_inner .tab-content .tab-pane .list li {
      margin-bottom: 60px;
      position: relative; }
      .tabs_inner .tab-content .tab-pane .list li span {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: block;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 46%;
        top: 30px;
        transform: translateX(-50%); }
        .tabs_inner .tab-content .tab-pane .list li span:before {
          content: '';
          height: 7px;
          width: 7px;
          background: rgb(0, 0, 0);
          border-radius: 50%;
          position: absolute;
          left: 52%;
          top: 4px;
          transform: translateX(-50%); }
      .tabs_inner .tab-content .tab-pane .list li:last-child {
        margin-bottom: 0px; }
      .tabs_inner .tab-content .tab-pane .list li .media .d-flex {
        padding-right: 100px; }
        .tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
          color: rgba(0, 0, 0, 0.75);
          margin-bottom: 0px;
          padding-top: 20px; }
      .tabs_inner .tab-content .tab-pane .list li .media .media-body h4 {
        color: rgb(0, 0, 0)3, 3, 3);
        font-size: 21px;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .tabs_inner .tab-content .tab-pane .list li .media .media-body p {
        color: rgba(0, 0, 0, 0.75)
        margin-bottom: 0px; }
  
  /* End My Tabs Area css
  ============================================================================================ */

/* Footer Area css
============================================================================================ */
.footer_area {
    background: rgb(184, 201, 187); }
  
  .f_title {
    margin-bottom: 35px; }
    .f_title h3 {
      color: rgb(52, 59, 57);
      font-size: 18px;
      font-weight: bold;
      font-family: "Heebo", sans-serif;
      margin-bottom: 0px; }
  
  .ab_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #2e2a2a;
    margin-bottom: 30px; }
    .ab_widget p a {
      color: #af3d29; }
    .ab_widget p + p {
      margin-bottom: 0px; }
  
  .news_widget {
    padding-right: 15px; }
    .news_widget p {
      font-size: 14px;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      color: #000000;
      margin-bottom: 15px; }
    .news_widget .input-group input {
      height: 40px;
      background: transparent;
      border-radius: 0px;
      width: 80%;
      border: none;
      padding: 0px 15px;
      border: 1px solid #1e233b;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #154219;
      outline: none;
      box-shadow: none; }
      .news_widget .input-group input.placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input:-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-webkit-input-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
    .news_widget .input-group .sub-btn {
      border-radius: 0px;
      background-image: -moz-linear-gradient(0deg, #035f4a 0%, #ffffff 100%);
      background-image: -webkit-linear-gradient(0deg, #035f4a 0%, #ffffff 100%);
      background-image: -ms-linear-gradient(0deg, #035f4a 0%, #ffffff 100%);
      outline: none !important;
      box-shadow: none !important;
      padding: 0px;
      border: none;
      width: 42px;
      cursor: pointer;
      color: rgb(0, 0, 0); }

  /* End Footer Area css*/
 
  .tools_expert {
    padding: 20px 0px 0px 0px; }
    .tools_expert .skill_main .skill_item {
      margin-bottom: 18px; }
      .tools_expert .skill_main .skill_item:last-child {
        margin-bottom: 0px; }
      .tools_expert .skill_main .skill_item h4 {
        text-align: none;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #222222;
        margin-bottom: 15px; }
      .tools_expert .skill_main .skill_item .progress_br {
        border: 1px solid #eeeeee;
        padding: 5px;
        border-radius: 10px; }
      .tools_expert .skill_main .skill_item .progress {
        height: 10px;
        border-radius: 10px;
        background: #e8e8e8; }
        .tools_expert .skill_main .skill_item .progress .progress-bar {
          width: 0%;
          transition: width .6s ease;
          height: 10px;
          border-radius: 5px;
          vertical-align: middle;
          align-self: center;
          background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
          background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
          background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }