.size{
    font-family: 'Quantico', sans-serif;
    font-size: 1.25rem;

}
.a{
    font-family: 'Quantico', sans-serif;
    font-size: 1.25vw;
}
.bgc{
    background-color: #2b463c;
}
.font{
    font-family: 'Press Start 2P', cursive;
    font-size: 4.5vw;
}
.fontN{
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5vw;
}


